<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader-lock">

     <title>Deploy Notion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='deploy.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename ='images.png') }}" type="image/x-icon">
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename= 'script.js') }}"></script>
</body>
</html>